{% extends "base.html" %}

{% block content %}
<div id="content">
    <div class="note-submission">
        <form class="card note-form text-bg-warning mb-3" action="{{ url_for('create_note') }}" method="POST">
            <div class="card-header mb-3">
                <input class="form-control" type="text" name="title" placeholder="Title" required>
            </div>
            <div class="card-text mb-3">
                <textarea class="form-control" name="content" placeholder="Content" required></textarea>
            </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
    </div>

    <div class="notes-area">
        <table class="table table-hover">
            <caption>Notes</caption>
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for note in notes %}
                <tr>
                    <td>{{ note.id }}</td>
                    <td class="col-md-2">{{ note.title }}</td>
                    <td>{{ note.content }}</td>
                    <td class="col-md-2 action-items">
                        <a class="btn btn-primary" href="{{ url_for('get_note', note_id=note.id) }}"><i class="bi bi-eye-fill"></i> View</a>
                        <a class="btn btn-warning text-white" href="{{ url_for('update_note', note_id=note.id) }}"><i class="bi bi-pencil-square"></i> Edit</a>
                        <form class="unset" onsubmit="confirmDelete()" action="{{ url_for('delete_note', note_id=note.id) }}" method="POST"><button class="btn btn-danger" type="submit"><i class="bi bi-trash-fill"></i> Delete</button></form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}